{% block content %}
    <h1>Editar apuestas de {{ request.user.username }}</h1>
    <form method="post">
        {% csrf_token %}
        <table>
            <thead>
                <tr>
                    <th>Partido</th>
                    <th>Local</th>
                    <th>Visitante</th>
                </tr>
            </thead>
            <tbody>
                {% for bet in bets %}
                    <tr>
                        <td>{{ bet.match }}</td>
                        <td>
                            <input type="number" name="result_home_{{ bet.pk }}" value="{{ bet.result_home }}" min="0" max="100">
                        </td>
                        <td>
                            <input type="number" name="result_away_{{ bet.pk }}" value="{{ bet.result_away }}" min="0" max="100">
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <input type="submit" value="Guardar cambios">
    </form>
{% endblock %}